<%= erb :"partials/header" %>

<main>
  News Site [<a href="/admin/site/new">new</a>]

  <ul>
  <% items.each do |item| %>
    <li><a href="/admin/site/<%= item.code %>"><%= item.name %>:admin</li>
  <% end %>
  </li>
</main>
