<%= partial :html_head %>
<body>
  
	<div class="page404">
		<h1><a href="<%= path %>/index.html">G-ROCK</a></h1>
  	<h2>404 Not Found</h2>
	</div>
  
  <div class="block center text-center">
	  <h2 class="headline">What are you looking for?</h2>
    <%= partial :post_list, {:list => posts.shuffle.slice(0, 10)} %>
  </div>

<%= partial :footer %>
</body>
</html>
