<%
  created_at = Date.today.strftime("%Y")
%>
<footer>
  <div class="link">
    <a href="https://twitter.com/prettygereen" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="copy">&copy; 2009-<%= created_at %> <a href="<%= link("index.html") %>">G-ROCK</a></div>
</footer>
