<%
  video_list = item.video_list
%>
<% unless (video_list.nil? || video_list.empty?) %>
  <div id="main-video" class="youtube" data-key="<%= video_list %>"></div>
<% else %>
  <div class="image main-image" data-image="<%= item.main_image %>"><img></div>
<% end %>
<h2><%= item.title %></h2>
