<%
  video_list = item.video_list
%>
<div id="main-video">
  <div id="player-wrapper">
    <!-- player-wrapper -->
    <% unless (video_list.nil? || video_list.empty?) %>
      <!-- <div class="toggle-player"><a href="/" onclick="popup(event, this)"><i class="fas fa-clone"></i></a></div> -->
      <div id="main-player" class="youtube" data-key="<%= video_list %>"></div>
    <% else %>
      <div class="image main-image" data-image="<%= item.main_image %>"><img></div>
    <% end %>
    <!-- player-wrapper -->
  </div>
</div>
