<%
  DOMAIN = "https://scream.your.name"

  # https://dev.twitter.com/web/tweet-button/parameters
  url = "#{DOMAIN}/#{@item.class.to_s.downcase}/#{@item.code}.html"
  twitter = "https://twitter.com/share?url=#{URI.escape(url)}&hashtags=#{URI.escape("G-ROCK")}&text=#{URI.escape(@item.title)}"
%>
<div class="sns">
  <a href="<%= twitter %>" target="_blank">
    <img src="<%= link("assets/images/share_twitter.png") %>">
  </a>
</div>
