<%
  DOMAIN = "https://scream.your.name"

  # https://dev.twitter.com/web/tweet-button/parameters
  url = "#{DOMAIN}#{path}"
  twitter = "https://twitter.com/share?url=#{URI.escape(url)}&hashtags=screamyourname&text=#{URI.escape(sns_title)}"
%>
<div class="sns">
  <a href="<%= twitter %>" target="_blank">
    <img src="<%= link("assets/images/share_twitter.png") %>">
  </a>
</div>
