<div class="remodal" data-remodal-id="modal">
  <div id="disc-modal">
    <img src="<%= path %>/images/no_image.jpg" />
    <div id="disc-modal-title">Scream Your Name</div>
    <div id="disc-modal-band">G-ROCK</div>
    <div id="disc-modal-label">2015/10/18 Geri Records</div>
    <div class="buy">
      <a class="listen" href="#" target="_blank"><i class="fa fa-headphones"></i></a>
      <a class="free" href="#" target="_blank"><i class="fa fa-cloud-download"></i></a>
      <a class="itunes socicon" href="#" target="_blank">O</a>
      <a class="amazon" href="#" target="_blank"><i class="pw pw-amazon"></i></a>
    </div>
  </div>
  <div class="clear"></div>
</div>
