<html>
<head>
  <title>g-rock dashboard</title>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
  <ul>
    <li><a href="dashboard/posts">posts</a></li>
    <li><a href="dashboard/bands">bands</a></li>
    <li><a href="dashboard/discs">discs</a></li>
    <li><a href="dashboard/videos">videos</a></li>
    <li><a href="dashboard/labels">labels</a></li>
  </ul>
</body>
</html>
