<html>
<body>
  <form action="update" method="post">
    <input type="text" name="test" size=10 value="<%= word %>"></input>
    <input type="submit"></input>
  </form>
  
  <a href="labels">labels</a>
</body>
</html>
