hoge

hoge
<form action="/band/hoge" method="post">
  <input name="_method" value="post" type="hidden" />
  <input type="text" name="band[code]" value="hoge" />
  <input type="text" name="band[name]" value="hoge_name" />
  <input type="text" name="links[url][]" value="hoge1" />
  <input type="text" name="links[url][]" value="hoge2" />
  <input type="text" name="links[url][]" value="hoge3" />
  <input type="text" name="links[code][]" value="code1" />
  <input type="text" name="links[code][]" value="code2" />
  <input type="text" name="links[code][]" value="code3" />
  <input type="text" name="links[kind][]" value="type1" />
  <input type="text" name="links[kind][]" value="type2" />
  <input type="text" name="links[kind][]" value="type3" />
  <input type="submit" name="commit" value="post"> /
</form>
