<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>0 G-ROCK Admin</title>
  <style>
    body {
      margin: 0px;
    }
    header {
      background-color: darkgoldenrod;
      padding: 4px;
      position: fixed;
      width: 100%;
    }
    header a,
    header a:visited {
      color: white;
    }
    main {
      padding-top: 40px;
    }
    label {
      display: block;
    }
    label span {
      display: inline-block;
      width: 160px;
      vertical-align: top;
    }
    label input,
    label textarea {
      width: 400px;
    }
    label select {
      width: 198px;
    }
    label textarea {
      height: 200px;
      border-color: lightgray;
      margin-top: 6px;
    }
    .preview {
      background-color: lightgray;
      padding: 4px;
    }
    .preview img {
      background-color: gray;
      margin: 4px;
      min-height: 50px;
      min-width: 50px;
      vertical-align: top;
    }
    .col2 {
      float: left;
      width: 60%;
    }
    .col1 {
      float: left;
      width: 38%;
      height: 800px;
      overflow-x: scroll;
    }
  </style>
  <script>
    function ajaxPostRequest(url, params, callback) {
      const xhr = new XMLHttpRequest()
      xhr.onreadystatechange = function() {
        if (xhr.readyState == XMLHttpRequest.DONE) {
           if (xhr.status !== 200) console.log(xhr.status)
           callback(xhr.responseText, xhr.status)
        }
      }
      params = Object.keys(params).reduce((a,k)=>{
        a.push(k + '=' + encodeURIComponent(params[k]))
        return a
      }, []).join('&')

      xhr.open("POST", url, true)
      xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")
      xhr.send(params)
    }
  </script>
</head>
<body>
  <%= yield %>
</body>
</html>
