<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link media="all" rel="stylesheet" href="/assets/style.css" />
  <script src="/assets/script.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>
