<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>search list</title>
  <link href="./foundation.min.css" media="all" rel="stylesheet" />
</head>
<body>
  <ul>
    <% bands.each do |band| %>
      <li><a href="<%= band.code %>.html"><%= band.name %></a></li>
    <% end %>
  </ul>
</body>
</html>
