<label>
  <span><%= key %>: </span>
  <input name="entry[<%= key %>]"
         type="text"
         onchange="onChangeText('<%= key %>', this)"
         value="<%= item.send(key.to_sym) %>"
         />
</label>
