{% extends "_layout.html" %}
{% load static %}
{% load view_helpers %}
{% block body %}

<div class="left-block detail">
    {{ band.key | admin_links }}
    <div class="row">
        <div class="label">name</div>
        <div class="value ellipsis">{{ band.name }}</div>
    </div>
    <div class="row">
        <div class="label">photo</div>
        <div class="value image"><img src="{{ band.image_link }}" /></div>
    </div>
    <div class="row">
        <div class="label">origin</div>
        <div class="value ellipsis">{{ band.country_code | emoji }} {{ band.origin | none_to_empty }}</div>
    </div>
    <div class="row">
        <div class="label">active</div>
        <div class="value ellipsis">{{ band.active | none_to_empty }}</div>
    </div>
    <div class="row">
        <div class="label">genre</div>
        <div class="value ellipsis">{{ band.genres_with_newline | safe }}</div>
    </div>
    <div class="row">
        <div class="label">website</div>
        <div class="value ellipsis">{{ band.website | external_link }}</div>
    </div>
    <div class="row">
        <div class="label">twitter</div>
        <div class="value ellipsis">{{ band.twitter | external_link }}</div>
    </div>
    <div class="row">
        <div class="label">youtube</div>
        <div class="value ellipsis">{{ band.youtube | external_link }}</div>
    </div>
    <div class="row">
        <div class="label">facebook</div>
        <div class="value ellipsis">{{ band.facebook | external_link }}</div>
    </div>
    <div class="row">
        <div class="label">instagram</div>
        <div class="value ellipsis">{{ band.instagram | external_link }}</div>
    </div>
    <div class="row">
        <div class="label">apple</div>
        <div class="value ellipsis">{{ band.apple | external_link }}</div>
    </div>
    <div class="row">
        <div class="label">google</div>
        <div class="value ellipsis">{{ band.google | external_link }}</div>
    </div>
    <div class="row">
        <div class="label">amazon</div>
        <div class="value ellipsis">{{ band.amazon | external_link }}</div>
    </div>
    <div class="row">
        <div class="label">spotify</div>
        <div class="value ellipsis">{{ band.spotify | external_link }}</div>
    </div>
    <div class="row">
        <div class="label">soundcloud</div>
        <div class="value ellipsis">{{ band.soundcloud | external_link }}</div>
    </div>
    <div class="row">
        <div class="label">bandcamp</div>
        <div class="value ellipsis">{{ band.bandcamp | external_link }}</div>
    </div>
    <div class="row">
        <div class="label">wiki</div>
        <div class="value ellipsis">{{ band.wiki | external_link }}</div>
    </div>
</div>

<div class="right-block">
    {% for disc in band.get_discs %}
    <div class="block disc">
        <div class="image">
            <img onclick="setPlaylist('{{ disc.videos }}')" src="{{ disc.image_link }}" />
        </div>
        <div class="detail">
            <div class="detail-row">{{ disc.title }}</div>
            <div class="detail-row">{{ disc.disc_type }} {{ disc.key | disc_admin_links }}</div>
            <div class="detail-row">{{ disc.display_release_date }}</div>
            <div class="detail-row">{{ disc.bands_key_and_name | band_name_links:'../' }}</div>
        </div>
    </div>
    {% endfor %}
    
    {% for disc in band.get_covers %}
    {% if forloop.first %}<h3 class="disc-title">Covers</h3>{% endif %}
    <div class="block disc">
        <div class="image">
            <img onclick="setPlaylist('{{ disc.videos }}')" src="{{ disc.image_link }}" />
        </div>
        <div class="detail">
            <div class="detail-row">{{ disc.title }}</div>
            <div class="detail-row">{{ disc.disc_type }} {{ disc.key | disc_admin_links }}</div>
            <div class="detail-row">{{ disc.release_date }}</div>
            <div class="detail-row">{{ disc.bands_key_and_name | band_name_links:'../' }}</div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}