<% member = obj %>
<!DOCTYPE html>
<html lang="ja">
<head>
  <%= head member.name %>
</head>
<body>
  <%= header %>
  <div class="contents-wrapper">
    <div class="contents">

    </div>

    <div class="sub-contents">
      <%= feeds(member) %>
    </div>
  </div>
  <%= footer %>
</body>
</html>
