<form id="form1" name="form1" method="post" data-code="<%= item.code %>">
  <button onclick="update()"><%= item.code ? "Update" : "Create" %></button>
  <button onclick="del()">Delete</button>
</form>
