<label>
  <span><%= key %>: </span>
  <input form="form1" name="<%= key %>" type="text" onchange="onChangeText('<%= key %>', this)" value="<%= (item.send(key.to_sym) || "").gsub(/"/, "&quot;") %>" />
</label>
