<% bands = obj %>
<html>
<head>
  <title>Bands</title>
</head>
<body>
  <ul>
  <% bands.each do |code, band| %>
    <li><a href="band/<%= band.code %>.html"><%= band.name %></a></li>
  <% end %>
  </ul>
</body>
</html>
