<% label = obj %>
<html>
<head>
  <%= head(label.name + " | G-ROCK", 1) %>
</head>
<body>
  <%= header(1) %>
  <div class="contents">
    <%= label.name %>
  </div>
  <%= footer(1) %>
</body>
</html>
