<% members = obj %>
<html>
<head>
  <%= head("Members | G-ROCK") %>
</head>
<body>
  <%= header %>
  <ul>
  <% members.each do |code, member| %>
    <li><a href="member/<%= member.code %>.html"><%= member.name %></a></li>
  <% end %>
  </ul>
</body>
</html>
