<style>
  .admin span a {
    text-decoration: underline;
    font-size: 1.5em;
    margin: 0 16px;}
</style>
<div class="admin">
  <h2>YouTube Thumbnails</h2>
  <h2>Export</h2>
  <span><a href="/" onclick="exportData(event, this)">band</a></span>
  <span><a href="/" onclick="exportData(event, this)">disc</a></span>
  <span><a href="/" onclick="exportData(event, this)">label</a></span>
  <span><a href="/" onclick="exportData(event, this)">feed</a></span>
  <h2>Import</h2>
  <span><a href="/" onclick="importData(event, this)">band</a></span>
  <span><a href="/" onclick="importData(event, this)">disc</a></span>
  <span><a href="/" onclick="importData(event, this)">label</a></span>
  <span><a href="/" onclick="importData(event, this)">feed</a></span>
</div>
