<!DOCTYPE html>
<html lang="ja">
<head>
  <%= partial :head, locals: {title: ""} %>
</head>
<body>
  <%= partial :header %>

  <div class="contents-wrapper">
  </div>

  <%= partial :footer %>
</body>
</html>
