<!DOCTYPE html>
<html lang="ja">
<head>
  <%= partial :head, locals: {title: nil} %>
</head>
<body>
  <%= partial :header %>

  <div class="contents-wrapper">
    <div id="main-video" class="youtube-list" data-key="NNHGABwme50,NrMUAjWTNxU,UjiRg-tXq58"></div>
  </div>

  <%= partial :footer %>
</body>
</html>
