<head>
  <meta charset="utf-8" />
  <meta name=viewport content="width=device-width, initial-scale=1">
	<title>G-ROCK</title>
	<link rel="shortcut icon" type="image/x-icon" href="#{@page[:path]}/images/favicon.ico" />
	<link rel="stylesheet" href="#{@page[:path]}/css/normalize.css" />
	<link rel="stylesheet" tyle="text/css" href="#{@page[:path]}/socicon/socicon.css" />
	<link rel="stylesheet" tyle="text/css" href="#{@page[:path]}/payment-webfont/style.css" />
	<link rel="stylesheet" tyle="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
	<link rel="stylesheet" tyle="text/css" href="#{@page[:path]}/css/jquery.remodal.css" />
	<link rel="stylesheet" tyle="text/css" href="#{@page[:path]}/css/grock.css" />
</head>