<div class="info">
	- if band.links[:site]
		<a href="#{band.links[:site]}" target="_blank"><i class="fa fa-home"></i></a>
	- if band.links[:wiki]
		<a class="socicon" href="#{band.links[:wiki]}" target="_blank">N</a>
	- if band.links[:facebook]
		<a class="socicon" href="#{band.links[:facebook]}" target="_blank">b</a>
	- if band.links[:twitter]
		<a class="socicon" href="#{band.links[:twitter]}" target="_blank">a</a>
	- if band.links[:youtube]
		<a class="socicon" href="#{band.links[:youtube]}" target="_blank">r</a>
	- if band.links[:soundcloud]
		<a class="socicon" href="#{band.links[:soundcloud]}" target="_blank">n</a>
	- if band.links[:myspace]
		<a class="socicon" href="#{band.links[:myspace]}" target="_blank">m</a>
	- if band.links[:purevolume]
		<a href="#{band.links[:purevolume]}" target="_blank" class="no-line">p</a>
	- if band.links[:lastfm]
		<a class="socicon" href="#{band.links[:lastfm]}" target="_blank">q</a>
	- if band.links[:tumblr]
		<a class="socicon" href="#{band.links[:tumblr]}" target="_blank">z</a>
</div>