footer {
  text-align: center;

  div.link {
    @include line-bottom;
    padding: 48px 0 12px 0;
    font-size: 2em;
  }

  div.copy {
    padding: 12px 0 24px 0;
  }
}
//
// footer .link {
//     padding: 48px 0 12px 0;
//     font-size: 2em;
// }
//
// footer .copy {
//     padding: 12px 0 24px 0;
//     border-top: 1px solid rgba(0, 0, 0, 1);
//     box-shadow(rgba(255, 255, 255, 1) 0 1px 0);
// }
