<header>
  <a href="/admin/">Admin</a> |
  <a href="/admin/bands">Bands</a> |
  <a href="/admin/discs">Discs</a> |
  <a href="/admin/labels">Labels</a> |
  <a href="/admin/sites">Sites</a> |
  <a href="/admin/feeds">Feeds</a> | 
  <a href="/admin/sources">Sources</a>
</header>
