<html>
<head>
  <meta charset="utf-8">
  <title><%= "[dev] " if dev %>Dashboard</title>
  <link rel='stylesheet' href='<%= rel %>/style.css' type='text/css' />
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="<%= rel %>/lib/list.js"></script>
</head>
