<%= erb :_html_head, :locals => {:rel => '.', :dev => dev} %>
<body>
  <%= erb :_header, :locals => {:rel => '.'} %>
  
  <ul>
    <li><a href="https://wri.pe/app#0nDBEfO/edit" target="_blank">TODO</a></li>
    <li><a href="https://www.google.com/analytics/web/?hl=ja&pli=1#report/defaultid/a2868508w25762540p24316930/" target="_blank">Google Analytics</a></li>
    <li>Amazon</li>
    <li>iTunes</li>
  </ul>
</body>
</html>
