<%= erb :_html_head, :locals => {:rel => '.', :dev => dev} %>
<body>
  <%= erb :_header, :locals => {:rel => '.'} %>
  <%= erb :_items, :locals => {:path => path, :cols => cols, :items => items} %>
</body>
</html>
