<%= partial :html_head %>

<body>
<%= partial :header %>

<div class="block center">
  <h2 class="headline">All Posts</h2>
  <%= partial :post_list, {:list => posts} %>
</div>

<%= partial :footer %>
</body>
</html>
