$FONT_STACK:         "Lato", Arial, Helvetica, Verdana, sans-serif !important;
$PRIMARY_COLOR:      #CCC;
$PRIMARY_A_COLOR:    #F8F8F8;
$PRIMARY_BG_COLOR:   #333;
$SECONDARY_BG_COLOR: #555;
$CLICK_BGA_COLOR:    #444;
$ADMIN_BG_COLOR:     #673AB7;

$HEADER_MARGIN:    16px;

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

// see: http://www.atmarkit.co.jp/ait/articles/1212/06/news004.html
@mixin line-bottom {
  border-bottom: 1px rgba(1,1,1,1);
  -moz-box-shadow:    0px 1px rgba(255,255,255,0.1);
  -webkit-box-shadow: 0px 1px rgba(255,255,255,0.1);
  box-shadow:         0px 1px rgba(255,255,255,0.1);
}

@mixin line-right {
  border-right: 1px rgba(1,1,1,1);
  -moz-box-shadow:    1px 0px rgba(255,255,255,0.1);
  -webkit-box-shadow: 1px 0px rgba(255,255,255,0.1);
  box-shadow:         1px 0px rgba(255,255,255,0.1);
}

@mixin screen-tablet {
  @media screen and (min-width: 813px) {
    @content;
  }
}

@mixin screen-mobile {
  @media screen and (max-width: 812px) {
    @content;
  }
}

body {
  font-family: $FONT_STACK;
  color: $PRIMARY_COLOR;
  background-color: $PRIMARY_BG_COLOR;
}

a {
  color: $PRIMARY_A_COLOR;
  text-decoration: none;
}

@include screen-mobile {
  .hidden-on-mobile {
    display: none !important;
  }
}
