.contents-wrapper {
  @include screen-tablet {
    @include clearfix;

    .contents {
      width: 65%;
      padding: 0 1%;
      float: left;
      @include line-right;
    }

    .sub-contents {
      width: 31%;
      padding: 0 1%;
      float: left;
    }
  }

  @include screen-mobile {
    .contents {
      padding-bottom: 32px;
    }
  }

  .contents {
    .body {
      min-height: 48px;
      margin: 24px 8px;

      p {
        min-height: 1em;
      }
    }

    .sns {
      text-align: center;
      padding: 16px 0;
    }

    .block {
      display: block;
      background-color: $SECONDARY_BG_COLOR;
      padding: 16px;
      margin: 8px 0;
      @include clearfix;

      .image {
        background-color: $PRIMARY_BG_COLOR;
      }

      @include screen-tablet {
        .image {
          float: left;
          margin-right: 32px;
        }
      }
      @include screen-mobile {
        .image {
          margin: 0 auto 16px;
        }
        .desc {
          text-align: center;
          margin-bottom: 8px;
        }
      }
    }

    .posted {
      text-align: right;
      background: inherit;
    }

    a.block {
      display: block;
      background-color: $CLICK_BGA_COLOR;
      padding: 16px;
      margin: 8px 0;
      @include clearfix;

      .type {
        display: inline-block;
        float: left;
        width: 27%;
        margin-right: 16px;
        @include line-right;
      }

      .title {
        display: inline-block;
        float: left;
        max-width: 68%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    a.block:hover {
      background-color: $SECONDARY_BG_COLOR;
    }

    .wide {
      .image {
        width: 320px;
        height: 200px;
      }
    }

    .image {
      width: 200px;
      height: 200px;
    }

    @include screen-tablet {
      .desc {
        height: 24px;
        margin-top: 32px;
      }
    }
  }
}
