.contents-wrapper {

  .sub-contents {

    .feeds {
      .feed {
        display: block;
        margin-bottom: 40px;

        a.title {
          background-color: $CLICK_BGA_COLOR;
          padding: 2px;
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          @include line-bottom;

          .image {
            width: 48px;
            height: 48px;
            display: inline-block;
            vertical-align: middle;
            background: inherit;

            img {
              border-radius: 50%;
            }
          }
          .hidden {
            width: 8px !important;
          }
        }

        a:hover {
          background-color: $SECONDARY_BG_COLOR;
        }

        .date {
          font-size: 0.8em;
          text-align: right;
          padding: 8px 4px 16px;
        }

        .body {
          text-align: center;
          padding: 0 4px;
          line-height: 1.4em;

          * {
            padding: 0;
            margin: 0;
          }

          p {
            text-align: left;
            overflow: hidden;
            padding-bottom: 16px;
          }

          .image {
            height: 200px;
            background-color: inherit;
          }
        }
      }
    }

    .releases {

      .release {
        display: block;
        margin-bottom: 32px;
        text-align: center;

        .image {
          height: 240px;
          background-color: inherit;
        }

        .desc {
          margin-top: 1em;
        }
      }
    }
  }
}
