<div class="btn-group">
  <button class="btn btn-default">
    <a href="/"><span class="icon icon-home"></span></a>
  </button>
  <button class="btn btn-default">
    <a href="/list/post"><span class="icon icon-text icon-vcard"></span>posts</a>
  </button>
  <button class="btn btn-default">
    <a href="/list/band"><span class="icon icon-text icon-users"></span>bands</a>
  </button>
  <button class="btn btn-default">
    <a href="/list/disc"><span class="icon icon-text icon-cd"></span>discs</a>
  </button>
  <button class="btn btn-default">
    <a href="/list/video"><span class="icon icon-text icon-video"></span>videos</a>
  </button>
  <button class="btn btn-default">
    <a href="/list/label"><span class="icon icon-text icon-tag"></span>labels</a>
  </button>
</div>
