<div class="btn-group">
  <a href="/">
    <button class="btn btn-default"><span class="icon icon-home"></span></button>
  </a>
  <a href="/list/post">
    <button class="btn btn-default"><span class="icon icon-text icon-vcard"></span>posts</button>
  </a>
  <a href="/list/band">
    <button class="btn btn-default"><span class="icon icon-text icon-users"></span>bands</button>
  </a>
  <a href="/list/disc">
    <button class="btn btn-default"><span class="icon icon-text icon-cd"></span>discs</button>
  </a>
  <a href="/list/video">
    <button class="btn btn-default"><span class="icon icon-text icon-video"></span>videos</button>
  </a>
  <a href="/list/label">
    <button class="btn btn-default"><span class="icon icon-text icon-tag"></span>labels</button>
  </a>
</div>
